
.banner {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100vw;
  height: 100px;
  background-color: rgb(74, 74, 73);
}
.logo {
  display: flex;
  font-family: 'Charmonman', cursive;
  font-weight: 400;
  color: #FFFFFA;
  font-size: 38px;
  margin-left: 75px;
  u {
    color:#FF6600;
    text-decoration: none;
    font-weight: 700;
   }
}
.redirect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.redirect-menu {
  list-style: none;
  display: flex;
  li:first-child a {
    color:#FF6600;
  }
}
.sub-page {
  display: flex;
  margin-right: 75px;
  a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
}
