.landing-page {
  background-color: #FFFFFA;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.carousel-slider {
  width: 100vw;
  position: relative;
}
#prevPicture {
  position: absolute;
  left: 25px;
  top: 215px;
  height: 75px;
  display: block;
}

#nextPicture {
  position: absolute;
  right: 25px;
  top: 215px;
  background-color: transparent;
  border: none;
}
.slider {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center;
  }
  h1 {
    top: 20%;
    left: 35%;
    color: white;
    font-size: 60px;
    position: absolute;
  }
  p {
    top: 45%;
    left: 20%;
    color: white;
    font-size: 30px;
    position: absolute;
    width: 50%;
    text-align: center;
  }
}
.slider .visible {
  display: block;
  height: 500px;
  width: 100vw;
}